* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
    scroll-behavior: smooth;
}

/* ===== NAVBAR ===== */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 8%;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #00f5ff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f5ff;
}

/* ===== HERO ===== */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 150px 8%;
    min-height: 100vh;
}

.hero-content{
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #00f5ff;
}

.hero-img img {
    width: 350px;
    border-radius: 16%;
    margin-top: 20px;
    margin-bottom: 50px;

    box-shadow: 0 0 40px #00f5ff;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(45deg, #00f5ff, #0077ff);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* ===== SECTION ===== */
.section {
    padding: 100px 8%;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00f5ff;
}

/* ===== SKILLS ===== */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 16px;
}

.skill-card {
    background: rgba(255,255,255,0.05);
    width: 60px;          /* Set equal width */
    height: 60px;         /* Set equal height */
    display: flex;         /* Center content */
    align-items: center;
    justify-content: center;
    border-radius: 50%;    /* Makes it circle */
    transition: 0.3s;
    animation: slow 2s ease-in-out 0.5s infinite;
}

@keyframes slow {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-30px);
    }
}

.skill-card-1 {
    width: 100%;          /* Set equal width */
    height: 80%;         /* Set equal height */
    display: flex;         /* Center content */
    align-items: center;
    justify-content: center;
    border-radius: 50%;    /* Makes it circle */
    transition: 0.3s;
}


.skill-card:hover {
    box-shadow: #55ee00;
}


/* ===== PROJECTS ===== */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
}
.img-2{
    width: 350px;
    border-radius: 0%;
    margin-top: 20px;
    margin-bottom: 50px; 
}

/* ===== certificate ===== */
.hidden-section {
    display: none;
    transition: all 0.5s ease;
}

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.certificate-card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}

.certificate-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,245,255,0.3);
}

.view-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 18px;
    background: linear-gradient(45deg, #00f5ff, #0077ff);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* ===== CONTACT ===== */
.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.05);
}



#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0f172a;
    z-index: -1;
}

.filter-buttons {
    margin-bottom: 30px;
}

.filter-btn {
    padding: 8px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    color: white;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: linear-gradient(45deg, #00f5ff, #0077ff);
}

.project-card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 15px;
    transition: 0.4s ease;
    backdrop-filter: blur(10px);
}

.project-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 30px rgba(0,245,255,0.3);
}
